

#btn {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 45%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#nxt {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 52%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#pkm {
    margin: 0;
    position: absolute;
    top: 55%;
    left: 46%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: flex;
    justify-content:space-between
}

#prev {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 57%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#image1 {
 margin: 0;
 position: absolute;
 top: 10%;
 left: 45%;
 transform: translate(-50%, -50%);
 height: 200px;
 width: 200px;
}
.hello{
   
}

